In [112]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from bs4 import BeautifulSoup
from selenium import webdriver
import time

In [113]:
driver=webdriver.Chrome("/Users/jappanjeetsingh/Downloads/drivers/chromedriver")
time.sleep(3)

In [115]:
# list of usernames
usernames=['BarackObama', 'justinbieber', 'katyperry', 'rihanna', 'Cristiano', 'taylorswift13', 'realDonaldTrump', 'ladygaga', 'TheEllenShow', 'ArianaGrande', 'YouTube', 'KimKardashian', 'jtimberlake', 'selenagomez', 'narendramodi', 'cnnbrk', 'twitter', 'britneyspears', 'ddlovato', 'shakira', 'jimmyfallon', 'BillGates', 'CNN', 'neymarjr', 'nytimes', 'KingJames', 'JLo', 'MileyCyrus', 'BBCBreaking', 'SrBachchan', 'Oprah', 'BrunoMars', 'BeingSalmanKhan', 'iamsrk', 'NiallOfficial', 'NASA', 'Drake', 'akshaykumar', 'PMOIndia', 'elonmusk', 'imVkohli', 'SportsCenter', 'wizkhalifa', 'KevinHart4real', 'espn', 'instagram', 'Harry_Styles', 'KylieJenner', 'LilTunechi', 'realmadrid']

In [114]:
followers=[]
for username in usernames:
# make get request to the url
    driver.get(f"https://twitter.com/{username}")
    time.sleep(5)
    element=driver.find_element_by_xpath("//*[@id=\"react-root\"]")
    pattern=re.compile(r"([0-9k KMm\.,]+) Followers")
    followers.append(pattern.findall(element.text))

In [130]:
df=pd.DataFrame()

In [133]:
df["Username"]=usernames
df["Number of Followers"]=followers

In [137]:
df.head()

       Username Number of Followers
0   BarackObama            [121.5M]
1  justinbieber            [112.3M]
2     katyperry            [108.4M]
3       rihanna             [98.1M]
4     Cristiano               [87M]