In [41]:
from bs4 import BeautifulSoup
import json
import requests
import pandas as pd

In [42]:
start="2017-01-01"
end="2018-01-01"
url=f"https://www.quandl.com/api/v3/datasets/WIKI/AAPL.json?start_date={start}&end_date={end}"

In [43]:
response=requests.get(url)
response # should be a 200 - good response

In [44]:
data=json.loads(response.content)
data["dataset"]["column_names"]
data["dataset"]["data"]
# create the dataframe
df = pd.DataFrame(data['dataset']['data'], columns = data['dataset']['column_names'])

In [47]:
df.head(10)

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-12-29,170.52,170.590,169.220,169.23,25643711.0,0.0,1.0,170.52,170.590,169.220,169.23,25643711.0
1,2017-12-28,171.00,171.850,170.480,171.08,15997739.0,0.0,1.0,171.00,171.850,170.480,171.08,15997739.0
2,2017-12-27,170.10,170.780,169.710,170.60,21672062.0,0.0,1.0,170.10,170.780,169.710,170.60,21672062.0
3,2017-12-26,170.80,171.470,169.679,170.57,32968167.0,0.0,1.0,170.80,171.470,169.679,170.57,32968167.0
4,2017-12-22,174.68,175.424,174.500,175.01,16052615.0,0.0,1.0,174.68,175.424,174.500,175.01,16052615.0
5,2017-12-21,174.17,176.020,174.100,175.01,20356826.0,0.0,1.0,174.17,176.020,174.100,175.01,20356826.0
6,2017-12-20,174.87,175.420,173.250,174.35,23000392.0,0.0,1.0,174.87,175.420,173.250,174.35,23000392.0
7,2017-12-19,175.03,175.390,174.090,174.54,27078872.0,0.0,1.0,175.03,175.390,174.090,174.54,27078872.0
8,2017-12-18,174.88,177.200,174.860,176.42,28831533.0,0.0,1.0,174.88,177.200,174.860,176.42,28831533.0
9,2017-12-15,173.63,174.170,172.460,173.87,37054632.0,0.0,1.0,173.63,174.170,172.460,173.87,37054632.0