In [104]:
# import necessary libraries
from selenium import webdriver
import pandas as pd
import time

In [105]:
# make a web driver object
driver=webdriver.Chrome("/Users/jappanjeetsingh/Downloads/Drivers/chromedriver")

In [106]:
# make call to the url u
driver.get("http://www2.scc.rutgers.edu/memdb/search_form_metzpr.php")

In [127]:
data=[]
for page in range(1,6):
    table=driver.find_element_by_xpath("/html/body/form/main/table/tbody/tr/td[2]/p[3]/table")
    for row in table.find_elements_by_xpath(".//tr"):
        data.append([td.text for td in row.find_elements_by_xpath(".//td")])
    
    try:
        # More commonly found button to navigate to the next page.
        button_path = '/html/body/form/main/table/tbody/tr/td[2]/center[3]/input[2]'
        driver.find_element_by_xpath(button_path).click()
    except:
        # Less commonly found button to navigate to the next page. Using this for every page will navigate you to the previous page which we dont want.
        button_path = '/html/body/form/main/table/tbody/tr/td[2]/center[3]/input'
        driver.find_element_by_xpath(button_path).click()
    #optional: waiting to avoid any errors that could occur     
    time.sleep(2)

In [128]:
# create the dataframe using pandas having the required columns and adding the list of data to it.
df=pd.DataFrame(data[1:],columns=["Num","Year","Month","Week","Product","Malters sold","Currency","Price/Malter"])

In [132]:
df.head()

    Num   Year Month Week  Product Malters sold Currency Price/Malter
0   101   1533     7    1   Barley           22     Mark            5
1   102   1533     7    2   Barley            7     Mark         4.67
2   103   1533     7    3   Barley           15     Mark         4.67
3   104   1533     7    4   Barley           19     Mark         4.67
4   105   1533     7    5   Barley           20     Mark         4.67