In [13]:
import pandas as pd
from sklearn.utils import shuffle

In [14]:
df1=pd.read_csv("/Users/jappanjeetsingh/Downloads/names/female.txt")
df1 = df1.sample(frac=1).reset_index(drop=True)
df2=pd.read_csv("/Users/jappanjeetsingh/Downloads/names/male.txt")
df2 = df2.sample(frac=1).reset_index(drop=True)

In [15]:
df=pd.concat([df1,df2])
# df = shuffle(df)
df.to_csv("/Users/jappanjeetsingh/Downloads/names.csv")

In [16]:
df

          Abagael       Aamir
0             Uta         NaN
1          Karlee         NaN
2          Darell         NaN
3     Maryangelyn         NaN
4         Katleen         NaN
...           ...         ...
2937          NaN  Sebastiano
2938          NaN      Garwin
2939          NaN    Maxfield
2940          NaN       Erich
2941          NaN      Marcio

[7942 rows x 2 columns]