In [47]:
# import the necessary libraries
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

In [48]:
url="https://en.wikipedia.org/wiki/Android_version_history"
response=requests.get(url) # GET request made to the url 
print(response) # recieved the status code 200 (The request has succeeded)

<Response [200]>

In [49]:
data_html=soup(response.content,"html.parser") #parse the data into HTML

In [50]:
tables=data_html.findAll("table", {"class":"wikitable"})

In [51]:
len(tables) #there are 31 tables on the webpage

31

In [52]:
# extract the first table out of the bunch
androidTable=tables[0]

In [53]:
# store the headers of the table
headers=androidTable.findAll("th")

In [54]:
#  save these headers to a list of column titles
colTitles=[ct.text[:-1] for ct in headers]

In [55]:
colTitles

['Name',
 'Version number(s)',
 'Initial stablerelease date',
 'Supported (security fixes)',
 'API level',
 'References']

In [56]:
# Now find all the rows in the table excluding the first row which is the header row that we already saved in colTitles
rows=androidTable.findAll("tr")[1:]

In [57]:
# store all the row data into table_data
table_data=[]
for row in rows:
    curr_row=[]
    row_data=row.findAll("td")
    for data in row_data:
        curr_row.append(data.text[:-1])
    table_data.append(curr_row)

In [58]:
table_data.pop(1)

['1.1', 'February 9, 2009', 'No', '2', '[9][14]']

In [64]:
df=pd.DataFrame(table_data,columns=colTitle)

In [66]:
df.head()

,Name,Version number(s),Initial stablerelease date,Supported (security fixes),API level,References
0,No official codename,1.0,"September 23, 2008",No,1,[9]
1,Cupcake,1.5,"April 27, 2009",No,3,[15]
2,Donut,1.6,"September 15, 2009",No,4,[16]
3,Eclair,2.0 – 2.1,"October 26, 2009",No,5 – 7,[17]
4,Froyo,2.2 – 2.2.3,"May 20, 2010",No,8,[18]