In [86]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
# import the re module
import re

In [87]:
url="https://www.cleveland.com/metro/2017/12/case_western_reserve_university_president_barbara_snyders_base_salary_and_bonus_pay_tops_among_private_colleges_in_ohio.html"

In [88]:
# make a GET request to the url
response=requests.get(url)

In [89]:
# make a Beautiful soup object to parse the data into html
soup=BeautifulSoup(response.content)

In [90]:
soup=BeautifulSoup(response.content)
s="" #empty string which will contain the content we want
data=soup.findAll("ul",{"class":"article__unordered-list"})[0]
for li in data:
    s+=li.span.text+" "

In [91]:
# finding the names of the presidents
NamePattern=re.compile(r"\w+?\.?\s?\w+\s\w+\s?\w+?\.?,")
names = NamePattern.findall(s)
# remove unwanted characters
names = [re.sub(r'\d+\s', '', n) for n in names]
names = [n.replace(',','') for n in names]
# remove the unrequiredd field
names.remove("Antioch College")

In [92]:
# finding the institution name
institutePattern=re.compile(r"(?:,|,\s)([A-Z]{1}.*?)(?:\s\(|:|,)")
institutes = institutePattern.findall(s)

In [93]:
# finding the salaries of the presidents
salaryPattern=re.compile(r"\$\d+,\d+")
salaries=salaryPattern.findall(s)

In [94]:
# make a dataframe to store the data
df=pd.DataFrame(columns=["President","Institution","Salary"])
# store the data
df.President=names
df.Institution=college
df.Salary=salaries

In [96]:
df.head(5)

        President                Institution    Salary
0  Grant Cornwell         College of Wooster  $911,651
1  Marvin Krislov            Oberlin College  $829,913
2  Mark Roosevelt            Antioch College  $507,672
3   Laurie Joyner      Wittenberg University  $463,504
4   Richard Giese  University of Mount Union  $453,800