In [1]:
# import necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
title=[]
price=[]
availability=[]
for page in range(1,51):
    r=requests.get("http://books.toscrape.com/catalogue/page-{}.html".format(page)) #GET request to a page
    soup=BeautifulSoup(r.content)
    products=soup.findAll("article",{"class":"product_pod"})
    for product in products:
        title.append(product.h3.a.attrs["title"])
        price.append(product.find("p",{"class":"price_color"}).getText())
        availability.append(product.find("p",{"class":"instock availability"}).getText().strip())

In [3]:
#pandas dataframe to save data
df=pd.DataFrame({"title":title,"price":price,"availability":availability})

In [4]:
df.head()

                                   title   price availability
0                   A Light in the Attic  £51.77     In stock
1                     Tipping the Velvet  £53.74     In stock
2                             Soumission  £50.10     In stock
3                          Sharp Objects  £47.82     In stock
4  Sapiens: A Brief History of Humankind  £54.23     In stock