In [42]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd

In [31]:
browser = webdriver.Chrome('/Users/jappanjeetsingh/Downloads/Drivers/chromedriver')
time.sleep(4)
browser.get("http://quotes.toscrape.com/scroll")

In [33]:
# getting to the bottom of the page to load all the quotes
def scrollDown():
    last_height = browser.execute_script("return document.body.scrollHeight")
    SCROLL_PAUSE_TIME = 7
    while True:
        browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(SCROLL_PAUSE_TIME)
        new_height = browser.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height
        time.sleep(1.2)
        
# call the function        
scrollDown()
# data containers 
texts=[]
authors=[]
# find all the quotes
soup=BeautifulSoup(browser.page_source)
browser.quit()
quotes=soup.findAll("div",{"class":"quote"})
for quote in quotes:
    texts.append(quote.find("span",{"class":"text"}).text)
    authors.append(quote.find("small",{"class":"author"}).text)

In [47]:
# create a dataframe for storing the quotes
df=pd.DataFrame({
    "Quote":texts,
    "Author":authors
})

In [49]:
df.head()

                                               Quote           Author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe